@model IEnumerable<Cafeteria.Models.Product>
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("admin"))
{

    <h2>Productos</h2>

    <p>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })

    </p>
    <table class="table">
        <tr>
            <th>
                <label>Producto</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VecesOrdenado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VecesOrdenado)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.IdProduct }, new { @class = "btn fas fa-edit" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdProduct }, new { @class = " fas fa-info-circle" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProduct }, new { @class = "fas fa-trash" }) |

                </td>
            </tr>
        }

    </table>
}



